<!-- The Top Bar -->

<header id="topbar-wrapper" aria-label="Top Bar">

  <div class="masthead">
    <div class="d-flex justify-content-around">
      <div class="col-1"></div>
      <div id="site-title">
        <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site .tagline }}</small>
        </h3>
      </div>
      <div id="site-nav">
        <nav class="masthead-nav"> 
            <a  href="{{ '/' | absolute_url }}">
                <i class="fa-solid fa-home fa-0"></i>&nbsp;主页
            </a>

        <!-- the real tabs -->
        {% for tab in site.tabs | order %}
          {% if tab.title == 'tabs'%}
            {% continue %}
          {% endif %}
            {% capture tab_name %}{{ tab.url | split: '/'}}{% endcapture %}
            <a href="{{ tab.url | relative_url }}" >
            <i class="fa fa-solid {{ tab.icon }}"></i>
            <span>{{ tab_name  | default: tab.title  | upcase}}</span>
            </a>
        <!-- .nav-item -->
        {% endfor %}

        </nav>
      </div>
      </div>
  
  <div class="d-flex justify-content-end">
    <div class="col-3"></div>
  </div>
</div>

  <div id="topbar" class="d-flex justify-content-around">
    <div class=""></div>
    <div>
    <nav id="breadcrumb" aria-label="Breadcrumb" class="nav">
      {% assign paths = page.url | split: '/' %}
      
      {% if paths.size == 0 or page.layout == 'home' %}
        <!-- index page -->
        <span>{{ "home" | capitalize }}</span>

      {% else %}
        {% for item in paths %}
          {% if forloop.first %}
          <span >
              <a href="{{ '/' | relative_url }}" class="nav-item-link" >
                {{- "home" | capitalize -}}
              </a>
            </span>
            <span> > </span>
          {% elsif forloop.last %}
            {% if page.collection == 'tabs' %}
              <span class="">{{ page.title }}</span>
            {% elsif page.layout == 'post' or page.layout == 'tag' %}
              <span class="bg-light">{{ page.title }}</span>
            {% else %} 
              <span class=" ">
                {% if item contains 'web' and page.layout == 'category' %}
                Web技术
                {% else %}
                  {{ item | split:'.'|first }}
                {% endif %}
              </span>
            {% endif %}

          {% elsif page.layout == 'category' %}
              <span>
                {% if item != 'category' %}
              <a href="{{ 'category' | append: '/' | append:item | append: '/' | relative_url }}" class="nav-item-link" >
                {% if item contains 'web' %}
                Web技术
                {% else %}
                  {{- item | default: page.title -}}
                {% endif %}
              </a>
              {% else %}
              <a href="{{ item | append: '/' | relative_url }}" class="nav-item-link" >
                {% if item contains 'web' %}
                Web技术
                {% else %}
                  {{- item | default: page.title -}}
                {% endif %}
              </a>
              {% endif %}
            </span> 
            <span> > </span>
          {% elsif page.layout == 'categories' %}
            <span><a href="{{ item | append:'/' | relative_url }}" class="nav-item-link" >
              {{- item | default:page.title -}}
            </a></span>
          {% elsif page.layout == 'tag' %}
            <span class="">
              <a href="{{ item | append: '/' | relative_url }}" class="nav-item-link">
                {% if item contains '%' %}
                {{ page.title }}
                {% else %}
                  {{- item | default: page.title -}}
                {% endif %}
              </a>
            </span>
            <span> > </span>
          {% endif %}
        {% endfor %}
      {% endif %}
    </nav>
    </div>
    <div class="col-1"></div>
    <!-- endof #breadcrumb -->

    <div id="topbar-title" class="">
    
   
   
  <search id="topbar-search" class="container">
    <i class="fas fa-search fa-fw"></i>
    <input
      class="topbar-search"
      id="search-input"
      type="search"
      aria-label="search"
      autocomplete="off"
      placeholder="search..."
    >
    
  </search>
  </div>
  </div>
  </header> 
  