.content{
  margin-bottom: 10px;
}

#access-lastmod{
    margin-top: 20%;
    margin-right: 10px;
    a{
        &:hover{
            color:chocolate !important;
           
            text-decoration: none;
        }
    }
    em{
        font-style: normal;
    }
}

#panel-wrapper {
    /* the headings */
    .panel-heading {
      font-family: inherit;
      line-height: inherit;
    }
  
    .post-tag {
      line-height: 1.05rem;
      font-size: 0.85rem;
      border-radius: 0.8rem;
      padding: 0.3rem 0.5rem;
      margin: 0 0.35rem 0.5rem 0;
  
      &:hover {
        transition: all 0.3s ease-in;
      }
    }
  }

  #topbar{
    margin-top: 0px;
    padding:1px;
  }

  #search-results {
    padding-bottom: 3rem;
  
    a {
      
  
      font-size: 1.4rem;
      line-height: 2.5rem;
    }
  
    > article {
      width: 100%;
  
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
  
      /* icons */
      i {
        color: #818182;
        margin-right: 0.15rem;
        font-size: 80%;
      }
  
      > p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
  } /* #search-results */

  @media all and (min-width: 1200px) {
    search {
      margin-right: 4rem;
    }
  
    #search-input {
      transition: all 0.3s ease-in-out;
    }
  
    #search-results > article {
      width: 45%;
  
      &:nth-child(odd) {
        margin-right: 1.5rem;
      }
  
      &:nth-child(even) {
        margin-left: 1.5rem;
      }
  
      &:last-child:nth-child(odd) {
        position: relative;
        right: 24.3%;
      }
    }
  }

  /* --- Effects classes --- */

.loaded {
  display: block !important;

  @at-root .d-flex#{&} {
    display: flex !important;
  }
}

.unloaded {
  display: none !important;
}

.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden !important;
}