---
layout: default
---
{% if site.toc %}
  <div class="container">  
    <div class="contents">
      
      <article class="markdown-body">
        {{ page.content }}
      </article>
    </div>   
    <div class="table-of-contents">
      <h2>Contents</h2>
      {% include toc.html html=content %}
    </div>
  </div>
{% else %}
<div class="container">
  <article class="content">
    <div class="post-meta">
      <span>本文总共 {{ page.content | strip_html | strip_newlines | remove: " " | size }} 字 <b>·</b> 阅读全文大约需要 {{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: 350 | plus: 1 }} 分钟</span>
  </div>
    {{ page.content }}
  </article>
</div>
{% endif %}