---
layout: page
# All the Tags of posts.
---

<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% assign tags = '' | split: '' %}
  {% for t in site.tags %}
    {% assign tags = tags | push: t[0] %}
  {% endfor %}

  {% assign sorted_tags = tags | sort_natural %}
  
  {% for t in sorted_tags %}
    <div class="ms-3 mb-3 p-1 btn btn-light">
      <a class="tag" href="{{ t | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
        {{ t -}}
        <span class="text-muted ms-1">{{ site.tags[t].size }}</span>
      </a>
      
    </div>
  {% endfor %}
</div>
